Repository woowa-techcamp-2021/cashbook-12, pull requests merged in 2021-08, with the labels that each got.

#29 도넛 차트 패키지명 변경
  client/package.json
  client/src/views/components/chart/Donut/Donut.js
  client/yarn.lock
Labels: refactor

#28 캘린더 페이지 마크업
  client/src/_dummies/history.json
  client/src/index.js
  client/src/store/Count.js
  client/src/store/DateInfo.js
  client/src/store/History.js
  client/src/store/Name.js
  client/src/store/index.js
  client/src/styles/_colors.scss
  client/src/styles/_font-styles.scss
  client/src/styles/base.scss
  client/src/utils/index.js
  client/src/views/components/calendar/Body/Body.js
  client/src/views/components/calendar/Body/Body.scss
  client/src/views/components/calendar/Footer/Footer.js
  client/src/views/components/calendar/Footer/Footer.scss
  client/src/views/components/calendar/Header/Header.js
  client/src/views/components/calendar/Header/Header.scss
  client/src/views/components/calendar/index.js
  client/src/views/components/chart/Donut/Donut.scss
  client/src/views/components/chart/Linear/Linear.scss
  client/src/views/components/common/Header/Header.scss
  client/src/views/components/index.js
  client/src/views/pages/CalendarPage/CalendarPage.js
  client/src/views/pages/CalendarPage/CalendarPage.scss
  client/src/views/pages/index.js
Labels: front-end, markup

#31 캘린더 페이지 마크업 PR 리뷰 반영
  client/.eslintrc
  client/config/paths.js
  client/config/webpack.common.js
  client/src/constants/index.js
  client/src/index.js
  client/src/store/History.js
  client/src/styles/_colors.scss
  client/src/styles/_font-styles.scss
  client/src/styles/base.scss
  client/src/styles/global.scss
  client/src/views/components/calendar/Body/Body.scss
  client/src/views/components/calendar/Footer/Footer.scss
  client/src/views/components/calendar/Header/Header.js
  client/src/views/components/calendar/Header/Header.scss
  client/src/views/components/calendar/index.js
  client/src/views/components/chart/Donut/Donut.scss
  client/src/views/components/chart/Linear/Linear.scss
  client/src/views/components/chart/Wrapper/Wrapper.scss
  client/src/views/components/common/Header/Header.scss
  client/src/views/components/common/Layout/Layout.scss
  client/src/views/pages/NotFoundPage/NotFoundPage.scss
Labels: front-end, refactor

#32 메인 페이지 마크업
  client/src/_dummies/category.json
  client/src/_dummies/historyList.json
  client/src/_dummies/paymentMethod.json
  client/src/assets/icons/cancel.js
  client/src/assets/icons/check.js
  client/src/assets/icons/chevron-down.js
  client/src/assets/icons/index.js
  client/src/assets/icons/minus.js
  client/src/styles/base.scss
  client/src/utils/index.js
  client/src/views/components/common/Layout/Layout.scss
  client/src/views/components/common/Tag/Tag.js
  client/src/views/components/common/Tag/Tag.scss
  client/src/views/components/form/Checkbox/Checkbox.js
  client/src/views/components/form/Checkbox/Checkbox.scss
  client/src/views/components/form/Dropdown/Dropdown.js
  client/src/views/components/form/Dropdown/Dropdown.scss
  client/src/views/components/form/Form.js
  client/src/views/components/form/Form.scss
  client/src/views/components/form/Input/Input.js
  client/src/views/components/form/Input/Input.scss
  client/src/views/components/form/Modal/Modal.js
  client/src/views/components/form/Modal/Modal.scss
  client/src/views/components/history/History.js
  client/src/views/components/history/History.scss
  client/src/views/components/history/HistoryHeader/HistoryHeader.js
  client/src/views/components/history/HistoryHeader/HistoryHeader.scss
  client/src/views/components/history/HistoryItem/HistoryItem.js
  client/src/views/components/history/HistoryItem/HistoryItem.scss
  client/src/views/components/history/HistoryList/HistoryList.js
  client/src/views/components/history/HistoryList/HistoryList.scss
  client/src/views/components/index.js
  client/src/views/pages/MainPage/MainPage.js
Labels: front-end, markup

#35 헤더 기능 추가
  client/src/assets/icons/chevron-left.js
  client/src/assets/icons/chevron-right.js
  client/src/assets/icons/index.js
  client/src/views/components/calendar/index.js
  client/src/views/components/common/Header/Header.js
  client/src/views/components/common/Header/Header.scss
  client/src/views/components/common/Layout/Layout.scss
Labels: feature, front-end, markup

#37 캘린더 반응형 작업
  client/src/styles/_responsive.scss
  client/src/styles/global.scss
  client/src/utils/helper.js
  client/src/views/components/calendar/Body/Body.js
  client/src/views/components/calendar/Body/Body.scss
  client/src/views/components/calendar/Footer/Footer.scss
  client/src/views/components/calendar/Header/Header.scss
  client/src/views/components/common/Header/Header.scss
  client/src/views/components/common/Tooltip/Tooltip.js
  client/src/views/components/common/Tooltip/Tooltip.scss
  client/src/views/components/form/Form.scss
Labels: front-end, responsive

#43 헤더 반응형 추가
  client/src/styles/global.scss
  client/src/views/components/common/Header/Header.scss
  client/src/views/components/common/Layout/Layout.scss
Labels: front-end, responsive

#44 메인, 헤더 class BEM 방법론 적용
  client/src/views/components/common/Header/Header.js
  client/src/views/components/common/Header/Header.scss
  client/src/views/components/form/Checkbox/Checkbox.js
  client/src/views/components/form/Checkbox/Checkbox.scss
  client/src/views/components/form/Dropdown/Dropdown.js
  client/src/views/components/form/Dropdown/Dropdown.scss
  client/src/views/components/form/Form.js
  client/src/views/components/form/Form.scss
  client/src/views/components/form/Input/Input.js
  client/src/views/components/form/Input/Input.scss
  client/src/views/components/form/Modal/Modal.js
  client/src/views/components/form/Modal/Modal.scss
  client/src/views/components/history/HistoryHeader/HistoryHeader.js
  client/src/views/components/history/HistoryHeader/HistoryHeader.scss
  client/src/views/components/history/HistoryItem/HistoryItem.js
  client/src/views/components/history/HistoryItem/HistoryItem.scss
Labels: front-end, refactor

#47 입지출내역 CRUD api
  server/.babelrc
  server/.sequelizerc
  server/package.json
  server/src/api/index.js
  server/src/api/routes/history/history.controller.js
  server/src/api/routes/history/index.js
  server/src/config/database.js
  server/src/config/index.js
  server/src/config/sequelize.js
  server/src/loaders/sequelize.js
  server/src/models/category.js
  server/src/models/history.js
  server/src/models/payment.js
  server/src/models/user.js
  server/src/seeders/20210802151156-category.js
  server/src/seeders/20210802181026-user.js
  server/src/seeders/20210802181233-payment.js
  server/src/seeders/20210803013747-history.js
  server/src/services/history.js
  server/yarn.lock
Labels: api, back-end

#50 결제수단 API
  server/src/api/index.js
  server/src/api/routes/history/index.js
  server/src/api/routes/payment/index.js
  server/src/api/routes/payment/payment.controller.js
  server/src/loaders/sequelize.js
  server/src/models/payment.js
  server/src/models/user.js
  server/src/services/payment.js
Labels: api, back-end, feature

#51 createElement 함수 생성
  client/src/utils/dom.js
  client/src/views/components/common/Layout/Layout.js
  client/src/views/pages/CalendarPage/CalendarPage.js
  client/src/views/pages/ChartPage/ChartPage.js
  client/src/views/pages/LoginPage/LoginPage.js
  client/src/views/pages/MainPage/MainPage.js
  client/src/views/pages/NotFoundPage/NotFoundPage.js
Labels: front-end

#56 캘린더 기능 완성
  client/src/_dummies/history.json
  client/src/store/History.js
  client/src/styles/_animation.scss
  client/src/styles/base.scss
  client/src/utils/api.js
  client/src/utils/dom.js
  client/src/views/components/calendar/Body/Body.js
  client/src/views/components/calendar/Body/Body.scss
  client/src/views/components/calendar/Footer/Footer.js
  client/src/views/components/calendar/Footer/Footer.scss
  client/src/views/components/calendar/Header/Header.js
  client/src/views/components/calendar/index.js
  client/src/views/components/common/Header/Header.js
  client/src/views/components/common/Header/Header.scss
  client/src/views/components/common/Layout/Layout.scss
  client/src/views/components/form/Form.js
  client/src/views/components/form/Form.scss
  client/src/views/components/form/Modal/Modal.js
  client/src/views/components/form/Modal/Modal.scss
Labels: feature-complete, front-end

#52 Login UI, API
  client/src/assets/icons/github.js
  client/src/assets/icons/index.js
  client/src/constants/index.js
  client/src/lib/Observable.js
  client/src/store/User.js
  client/src/store/index.js
  client/src/styles/base.scss
  client/src/utils/api.js
  client/src/views/components/common/Header/Header.js
  client/src/views/components/common/LoginModal/LoginModal.js
  client/src/views/components/common/LoginModal/LoginModal.scss
  client/src/views/components/index.js
  client/src/views/pages/LoginPage/LoginPage.js
  server/package.json
  server/src/api/index.js
  server/src/api/middlewares/auth.js
  server/src/api/routes/auth/auth.controller.js
  server/src/api/routes/auth/index.js
  server/src/api/routes/user/index.js
  server/src/api/routes/user/user.controller.js
  server/src/config/index.js
  server/src/loaders/express.js
  server/src/models/user.js
  server/src/services/auth.js
  server/src/services/user.js
  server/src/utils/jwt.js
  server/yarn.lock
Labels: back-end, front-end

#60 차트 페이지 기능 연결
  client/src/_dummies/statistics.json
  client/src/constants/index.js
  client/src/store/HistoryReport.js
  client/src/store/index.js
  client/src/styles/_animation.scss
  client/src/utils/api.js
  client/src/utils/index.js
  client/src/views/components/calendar/Body/Body.scss
  client/src/views/components/chart/DataList/DataList.js
  client/src/views/components/chart/DataList/DataList.scss
  client/src/views/components/chart/Donut/Donut.js
  client/src/views/components/chart/Linear/Linear.js
  client/src/views/components/chart/MonthChart/MonthChart.js
  client/src/views/components/chart/MonthChart/MonthChart.scss
  client/src/views/components/chart/Wrapper/Wrapper.js
  client/src/views/components/chart/Wrapper/Wrapper.scss
  client/src/views/components/chart/YearChart/YearChart.js
  client/src/views/components/common/Header/Header.js
  server/src/api/routes/history/history.controller.js
  server/src/api/routes/history/index.js
  server/src/services/history.js
Labels: front-end

#64 User 관련 기능 구현 완료
  client/src/constants/index.js
  client/src/store/User.js
  client/src/styles/_animation.scss
  client/src/styles/global.scss
  client/src/views/components/calendar/Body/Body.js
  client/src/views/components/calendar/Body/Body.scss
  client/src/views/components/calendar/SmallCalendar/SmallCalendar.js
  client/src/views/components/calendar/SmallCalendar/SmallCalendar.scss
  client/src/views/components/chart/DataList/DataList.js
  client/src/views/components/chart/DataList/DataList.scss
  client/src/views/components/chart/MonthChart/MonthChart.scss
  client/src/views/components/chart/SmallChart/SmallChart.js
  client/src/views/components/chart/SmallChart/SmallChart.scss
  client/src/views/components/common/Loader/Loader.js
  client/src/views/components/common/Loader/Loader.scss
  client/src/views/components/common/Wrapper/Wrapper.scss
  client/src/views/components/index.js
  client/src/views/components/login/LoginForm/LoginForm.js
  client/src/views/components/login/LoginForm/LoginForm.scss
  client/src/views/components/user/UserInfo/UserInfo.js
  client/src/views/components/user/UserInfo/UserInfo.scss
  client/src/views/pages/LoginPage/LoginPage.scss
  client/src/views/pages/UserPage/UserPage.js
  client/src/views/pages/UserPage/UserPage.scss
  server/src/api/routes/auth/auth.controller.js
Labels: front-end, feature-complete

#63 메인 페이지 기능 및 반응형 + @
  client/config/env.js
  client/package.json
  client/src/assets/gifs/congrats.gif
  client/src/assets/icons/add.js
  client/src/assets/icons/index.js
  client/src/assets/icons/menu.js
  client/src/assets/icons/minus.js
  client/src/assets/icons/pencil.js
  client/src/assets/icons/plus.js
  client/src/assets/icons/trash-bin.js
  client/src/constants/index.js
  client/src/store/DateInfo.js
  client/src/store/Form.js
  client/src/store/History.js
  client/src/store/Payment.js
  client/src/store/index.js
  client/src/styles/base.scss
  client/src/styles/global.scss
  client/src/utils/api.js
  client/src/utils/helper.js
  client/src/views/components/chart/Linear/Linear.js
  client/src/views/components/chart/Linear/Linear.scss
  client/src/views/components/common/Empty/Empty.js
  client/src/views/components/common/Empty/Empty.scss
  client/src/views/components/form/Checkbox/Checkbox.js
  client/src/views/components/form/Dropdown/Dropdown.js
  client/src/views/components/form/Dropdown/Dropdown.scss
  client/src/views/components/form/Form.js
  client/src/views/components/form/Form.scss
  client/src/views/components/form/Form/Form.js
  client/src/views/components/form/Form/Form.scss
  client/src/views/components/form/Input/Input.js
  client/src/views/components/form/Input/Input.scss
  client/src/views/components/form/Modal/Modal.js
  client/src/views/components/form/Modal/Modal.scss
  client/src/views/components/history/History.js
  client/src/views/components/history/History.scss
  client/src/views/components/history/HistoryHeader/HistoryHeader.js
  client/src/views/components/history/HistoryHeader/HistoryHeader.scss
  client/src/views/components/history/HistoryItem/HistoryItem.js
  client/src/views/components/history/HistoryItem/HistoryItem.scss
  client/src/views/components/history/HistoryList/HistoryList.js
  client/src/views/components/index.js
  client/src/views/pages/ChartPage/ChartPage.js
  client/src/views/pages/ChartPage/ChartPage.scss
  client/src/views/pages/MainPage/MainPage.js
  client/src/views/pages/NotFoundPage/NotFoundPage.js
  client/src/views/pages/NotFoundPage/NotFoundPage.scss
  client/yarn.lock
  server/src/api/index.js
  server/src/api/routes/category/category.controller.js
  server/src/api/routes/category/index.js
  server/src/api/routes/history/history.controller.js
  server/src/models/category.js
  server/src/seeders/20210802151156-category.js
  server/src/services/category.js
  server/src/services/history.js
Labels: feature, back-end, front-end, markup, refactor, api

#66 v1.2.0
  client/config/env.js
  client/package.json
  client/src/assets/gifs/congrats.gif
  client/src/assets/icons/add.js
  client/src/assets/icons/index.js
  client/src/assets/icons/menu.js
  client/src/assets/icons/minus.js
  client/src/assets/icons/pencil.js
  client/src/assets/icons/plus.js
  client/src/assets/icons/trash-bin.js
  client/src/constants/index.js
  client/src/store/DateInfo.js
  client/src/store/Form.js
  client/src/store/History.js
  client/src/store/Payment.js
  client/src/store/index.js
  client/src/styles/base.scss
  client/src/styles/global.scss
  client/src/utils/api.js
  client/src/utils/helper.js
  client/src/views/components/chart/Linear/Linear.js
  client/src/views/components/chart/Linear/Linear.scss
  client/src/views/components/common/Empty/Empty.js
  client/src/views/components/common/Empty/Empty.scss
  client/src/views/components/form/Checkbox/Checkbox.js
  client/src/views/components/form/Dropdown/Dropdown.js
  client/src/views/components/form/Dropdown/Dropdown.scss
  client/src/views/components/form/Form.js
  client/src/views/components/form/Form.scss
  client/src/views/components/form/Form/Form.js
  client/src/views/components/form/Form/Form.scss
  client/src/views/components/form/Input/Input.js
  client/src/views/components/form/Input/Input.scss
  client/src/views/components/form/Modal/Modal.js
  client/src/views/components/form/Modal/Modal.scss
  client/src/views/components/history/History.js
  client/src/views/components/history/History.scss
  client/src/views/components/history/HistoryHeader/HistoryHeader.js
  client/src/views/components/history/HistoryHeader/HistoryHeader.scss
  client/src/views/components/history/HistoryItem/HistoryItem.js
  client/src/views/components/history/HistoryItem/HistoryItem.scss
  client/src/views/components/history/HistoryList/HistoryList.js
  client/src/views/components/index.js
  client/src/views/pages/ChartPage/ChartPage.js
  client/src/views/pages/ChartPage/ChartPage.scss
  client/src/views/pages/MainPage/MainPage.js
  client/src/views/pages/NotFoundPage/NotFoundPage.js
  client/src/views/pages/NotFoundPage/NotFoundPage.scss
  client/yarn.lock
  server/src/api/index.js
  server/src/api/routes/category/category.controller.js
  server/src/api/routes/category/index.js
  server/src/api/routes/history/history.controller.js
  server/src/models/category.js
  server/src/seeders/20210802151156-category.js
  server/src/services/category.js
  server/src/services/history.js
Labels: v1.2.0

#68 버그 수정
  client/src/views/components/chart/Linear/Linear.js
  client/src/views/components/chart/YearChart/YearChart.scss
  client/src/views/components/history/History.scss
  server/src/api/routes/auth/auth.controller.js
Labels: feature-complete

#69 v1.2.1
  client/src/views/components/chart/Linear/Linear.js
  client/src/views/components/chart/YearChart/YearChart.scss
  client/src/views/components/history/History.scss
  server/src/api/routes/auth/auth.controller.js
Labels: v1.2.0
